---
import Layout from "@/layouts/Layout.astro";
import PublicacionesAdmin from "@/components/PublicacionesAdmin";
import CarruselAdmin from "@/components/CarruselAdmin";
---

<Layout title="Administrador">
    <main  id="panelDeAdministrador" class="hidden">
        <section>
            <CarruselAdmin client:load/>
        </section>
        <hr class="border-none text-transparent bg-gradient-to-r from-[#003449] h-1 my-8 rounded-3xl"/>
        <section>
            <PublicacionesAdmin client:load/>
        </section>
        <button type="button" class="m-auto bg-mint-green p-1.5 border-solid rounded-full" id="cerrarSesion">Cerrar sesión</button>
        <script>
            document.addEventListener('astro:page-load', () => {
                fetch('https://api.policlinicolatrinidad.com/api/session-validation', {
                    method: 'GET',
                    credentials: 'include',
                })
                .then((response) => {
                    switch(response.status){
                        case 200:
                            document.querySelector('#panelDeAdministrador')?.classList.remove('hidden');
                            break;
                        case 401:
                            window.location.href = 'login';
                            break;
                        case 500:
                            alert("Error al verificar la sesión, vuelva a intentarlo más tarde.");
                            window.location.href = 'login';
                            break;
                    }
                })
                .catch((error) => {
                    alert("Error al tratar de comunicarse con el servidor, vuelva a intentarlo más tarde.");
                    window.location.href = 'login';
                });

                const button = document.querySelector('#cerrarSesion');
                button?.addEventListener('click', () => {
                    fetch('https://api.policlinicolatrinidad.com/api/logout', {
                        method: 'GET',
                        credentials: 'include'
                    })
                    .then((response) => {
                        switch(response.status){
                            case 200:
                                break;
                            case 500:
                                alert('Error en el servidor (aún así usted saldrá de aquí, no se preocupe)');
                                break;
                        }

                        window.location.href = 'login';
                    })
                    .catch((error) => {
                        alert("Error al tratar de comunicarse con el servidor (volverá a la página de inicio de sesión de todas maneras)");
                        window.location.href = 'login';
                    })
                })
            });
        </script>
    </main>
</Layout>
