---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Policlínico La Trinidad | Farmacia">
    <h1 class="lg:text-7xl text-4xl font-black text-center mb-4 mt-8">Farmacia</h1>
    <section class="mt-8 flex flex-col md:flex-row gap-8 justify-center mb-5">
        <section class="flex flex-col gap-4 mb-8 justify-center mx-auto">
            <p class="bg-[#003449] p-4 rounded-lg max-w-screen-sm">En nuestra farmacia, buscamos contribuir con la salud, bienestar y seguridad de nuestros 
                pacientes y brindar una atención eficiente y orientada a ellos.</p>
            <p class="bg-[#b8d8db] p-4 rounded-lg max-w-screen-sm text-[#003449]">Somos un establecimiento reconocido por su capacidad de brindar atención
                al paciente con buena atención, productos de calidad y precios justos:
            </p>
        </section>
    </section>
    <hr class="border-none text-transparent bg-gradient-to-r from-[#003449] h-1 mb-8 rounded-3xl"/>
    <main>
        <section>
            <h2 class="text-2xl font-medium mb-5">Nuestra lista de fármacos</h2>
            <div class="overflow-x-auto">
                <table id="listaFarmacos" class="min-w-[90rem] mx-auto">
                    <!-- Tabla según base de datos de fármacos -->
                </table>
            </div>
            <script>
                document.addEventListener('astro:page-load', () => {

                    const FARMACO_NO_ATTRIBUTES = 6;
                    const DYNATABLE_HEADERS = [
                        'Nombre',
                        'Compuesto',
                        'Unidades por paq.',
                        'Descripción',
                        'Reg. sanitario',
                        'Unidades disp.'
                    ];

                    async function getResponse(source: string) {
                        const request = new Request(source, {
                            method: "GET",
                            headers: {
                                'Accept': 'application/json'
                            }
                        });

                        const response = await fetch(request);
                        return response.json();
                    }

                    function createTable() {
                        const table = document.getElementById("listaFarmacos");
                        getResponse('https://api.policlinicolatrinidad.com/api/farmacos')
                            .then(medicinas => {
                                while (table?.firstChild)
                                    table.removeChild(table.firstChild);

                                let headerRow = document.createElement('tr');
                                for (let i = 0; i < FARMACO_NO_ATTRIBUTES; i++) {
                                    let tableHead = document.createElement('th');
                                    tableHead.innerHTML = DYNATABLE_HEADERS[i];
                                    headerRow.appendChild(tableHead);
                                }
                                table?.appendChild(headerRow);

                                medicinas.forEach((value: any) => {
                                    let cells = [];
                                    let row = document.createElement('tr');
                                    for (let j = 0; j < FARMACO_NO_ATTRIBUTES; j++) {
                                        cells.push(document.createElement('td'));
                                    }

                                    cells[0].innerHTML = value.nombre;
                                    cells[1].innerHTML = value.compuesto;
                                    cells[2].innerHTML = value.unidades_por_paquete;
                                    cells[3].innerHTML = value.descripcion;
                                    cells[4].innerHTML = value.reg_sanitario;
                                    cells[5].innerHTML = value.stock;

                                    for (let cell of cells)
                                        row.appendChild(cell);

                                    table?.appendChild(row);
                                });
                            })
                            .catch(err => {
                                alert("error al recuperar datos de la base de datos");
                            });
                    }

                    createTable();
                });
            </script>
        </section>
    </main>
</Layout>

<style>
table, th, td {
    border: 1px solid #003449;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}
</style>
