---
import CardServicios from "@/components/CardServicios.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Servicios de Apoyo">
    <aside class="absolute w-44 h-full hidden lg:block">
        <h2 class="font-bold uppercase bg-[#003449] rounded-l-lg py-4 text-center mb-3 text-white">Contenido</h2>
        <nav>
            <ul class="flex flex-col">
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#recepcion">Recepcion</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#laboratorio">Laboratorio</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#ecografia">Ecografia</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#farmacia">Farmacia</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#RX Dental">RX Dental</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#topico">Topico</a></li>
                <li><a class="block w-full px-3 py-4 hover:bg-[#003449] hover:text-[#d5eef1] rounded-l-xl" href="#triaje">Triaje</a></li>
            </ul>
        </nav>
    </aside>
    <main class="relative lg:ml-44 mt-16 h-full xl:h-screen overflow-auto bg-[#003449] rounded-b-lg rounded-tr-lg p-10 flex flex-col gap-10 mb-10">
        <h1 class="uppercase font-black text-[#d5eef1] text-2xl text-center">Servicos de Apoyo</h1>
        <CardServicios p="La recepción del policlínico La Trinidad ofrece atención personalizada para gestionar citas, proporcionar información sobre los diversos servicios y orientar a los pacientes desde su llegada, asegurando un flujo eficiente y una experiencia satisfactoria." servicio="recepcion" src="/DE-APOYO/recepcion.jpeg" variant/>
        <CardServicios p="El laboratorio del policlínico está equipado con tecnología de última generación para realizar una amplia gama de pruebas y análisis clínicos. Su personal capacitado asegura resultados precisos y rápidos, apoyando el diagnóstico y tratamiento de los pacientes." servicio="laboratorio" src="/DE-APOYO/laboratorio.jpg" boton/>
        <CardServicios p="La farmacia proporciona una amplia variedad de medicamentos recetados y de venta libre. Además, ofrece asesoramiento farmacéutico especializado para asegurar que los pacientes utilicen sus tratamientos de manera correcta y efectiva." servicio="farmacia" src="/DE-APOYO/farmacia.jpg" boton variant/>
        <CardServicios p="El servicio de ecografía realiza estudios de imagen mediante ultrasonido, proporcionando diagnósticos precisos para una variedad de condiciones médicas. Utiliza tecnología avanzada y cuenta con personal altamente especializado." servicio="ecografia" src="/DE-APOYO/ecografia.webp"/>
        <CardServicios p="El servicio de radiología dental ofrece radiografías dentales detalladas para apoyar el diagnóstico y tratamiento de condiciones odontológicas. Utiliza equipos modernos para garantizar imágenes claras y precisas." servicio="RX Dental" src="/DE-APOYO/rx-dental.jpg" variant/>
        <CardServicios p="El tópico brinda atención inmediata a pacientes con heridas, quemaduras y otras emergencias menores. Su personal capacitado asegura un tratamiento rápido y eficiente para estabilizar a los pacientes y aliviar el dolor." servicio="topico" src="/DE-APOYO/topico.jpg"/>
        <CardServicios p="El triaje es el proceso de clasificar a los pacientes según la gravedad de su condición al llegar al policlínico. Este servicio prioriza la atención de emergencias y asegura que los casos más urgentes reciban atención inmediata." servicio="triaje" src="/DE-APOYO/triaje.jpg" variant/>
    </main>
</Layout>