---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Policlinico La Trinidad | Laboratorio">
    <header class="mb-10">
        <h1 class="text-center font-bold md:text-5xl text-3xl">Laboratorio</h1>
    </header>
    <section>
        <img class="mx-auto w-96" src="/gif/comming-soon.gif" alt="proximamente">
    </section>
</Layout>